'KaufmannDigital.GDPR.CookieConsent:Content.CookieSettings':
  superTypes:
    'Neos.Neos:Content': true
    'KaufmannDigital.GDPR.CookieConsent:Mixin.Cookie': true
  childNodes:
    settingElements:
      type: 'Neos.Neos:ContentCollection'
      constraints:
        nodeTypes:
          '*': false
          'KaufmannDigital.GDPR.CookieConsent:Content.CookieGroup': true
  ui:
    label: i18n
    icon: 'icon-cookie'
    group: 'cookies'
    inlineEditable: true
    inspector:
      groups:
        cookieSettings:
          label: i18n
          icon: 'icon-cookie'
  properties:
    headline:
      type: string
      defaultValue: ''
      ui:
        inlineEditable: true
        inline:
          editorOptions:
            placeholder: i18n
    mainDescription:
      type: string
      defaultValue: ''
      ui:
        inlineEditable: true
        inline:
          editorOptions:
            placeholder: i18n
    individualSettingsDescription:
      type: string
      defaultValue: ''
      ui:
        inlineEditable: true
        inline:
          editorOptions:
            placeholder: i18n
    imprintLink:
      type: string
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
          editor: 'Neos.Neos/Inspector/Editors/LinkEditor'
    dataProtectionPolicyLink:
      type: string
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
          editor: 'Neos.Neos/Inspector/Editors/LinkEditor'
    acceptAllButtonLabel:
      type: string
      defaultValue: "Accept all"
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
    saveButtonLabel:
      type: string
      defaultValue: "Save"
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
    acceptNecessaryCookiesLabel:
      type: string
      defaultValue: "Accept necessary cookies"
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
    imprintLabel:
      type: string
      defaultValue: "Imprint"
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
    dataProtectionPolicyLabel:
      type: string
      defaultValue: "Privacy"
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
    openIndividualSettingsLabel:
      type: string
      defaultValue: "Individual settings"
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
    closeIndividualSettingsLabel:
      type: string
      defaultValue: "Close settings"
      ui:
        label: i18n
        reloadIfChanged: true
        inspector:
          group: cookieSettings
    versionDate:
      type: DateTime
      defaultValue: 'now'
      ui:
        label: i18n
        inspector:
          group: cookieSettings
